#article{
		margin-top:10px;
		
		}

#articleWide{
		margin-top:10px;
		width:100%;
		}
#Menulinks{

		padding-left:10px;
		
}
#Menulinks a {
				text-decoration:none;
				color:black;
				Margin-left:4px;
}